<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.type.watch" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <uses-permission android:name="android.permission.BODY_SENSORS_BACKGROUND" />
    <uses-permission android:name="android.permission.ACCELEROMETER" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />

    <application
        android:name="AppContext.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/placeholder_ramon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault"
        tools:ignore="WearStandaloneAppFlag">
        <activity
            android:name=".ChallengesList"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            tools:ignore="WearRecents" />
        <activity
            android:name=".AddAudios"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            tools:ignore="WearRecents" />
        <activity
            android:name=".Timer"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            tools:ignore="WearRecents" />
        <activity
            android:name=".PlaylistEditor"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            tools:ignore="WearRecents" />
        <activity
            android:name=".PlaylistCreator"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            tools:ignore="WearRecents" />
        <activity
            android:name=".PlaylistVisualizer"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            tools:ignore="WearRecents" />
        <activity
            android:name=".PlaylistSelector"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            tools:ignore="WearRecents" />
        <activity
            android:name=".ChartBarVisualizer"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            tools:ignore="WearRecents" />
        <activity
            android:name=".ChartPieVisualizer"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            tools:ignore="WearRecents" />
        <activity
            android:name=".ChartSelector"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            tools:ignore="WearRecents" />
        <activity
            android:name=".Recordings"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            tools:ignore="WearRecents" />
        <activity
            android:name=".MonsterVisualizer"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            tools:ignore="WearRecents" />
        <activity
            android:name=".Challenges"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            tools:ignore="WearRecents" />
        <activity
            android:name=".GameModeSelector"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            tools:ignore="WearRecents" />
        <activity
            android:name=".Missions"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            tools:ignore="WearRecents" />
        <activity
            android:name=".CharacterChoice"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            tools:ignore="WearRecents" />
        <activity
            android:name=".MainMenu"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            tools:ignore="WearRecents" />
        <activity
            android:name=".Configuration"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            tools:ignore="WearRecents">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN"
                    tools:ignore="WearRecents" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="Services.SleepTracker" />
        <service android:name="Services.PostureSensor" />
        <service android:name="Services.AudioPlayer" />

        <receiver android:name="Broadcasts.MusicBroadcast" />
    </application>

</manifest>